.projects-container {
  position: relative;
  max-width: auto;
  margin-top: auto auto;
  padding: 5px 25px;
  /* border: 3px solid #060709; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: auto;
  min-height: 83vh;

  max-height: 83vh;
  background-color: #ffffff;
}

.projects-container::-webkit-scrollbar {
    width: 5px;
    /* Width of the scrollbar */
}

.progress-container::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Color of the thumb */
}

.project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 3px solid #ccc;
    /* font-weight: bold; */
}

.header-item {
    flex: 1;
    text-align: center;
}

.project-card {
  flex: 0 0 300px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  font-Family: 'Calibri light';
  font-size: 18px;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.project-details {
    position: relative;
    display: flex;
    /* flex se vo uske child item ko flex kar skata he */
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    font-weight: bold;
}

.detail-item {
    flex: 1;
    text-align: center;
}

.add-team-link {
    color: #007bff;
    text-decoration: none;
}



/* .add-project-button {
    position: fixed;
    bottom: 20px;
    right: 34px;
    background-color: #29bf2e; 
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 15px; 
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  }   */


/* use it to put button on right bottom */


/* .add-project-button {
    background-color: #29bf2e;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 20px; 
  } */


/* .add-project-button:hover {
    background-color: #188f1e; 
  } */

.plus-symbol {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 65px;
    height: 65px;
    background-color: #f08000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* ---------------------------- FORM CSS ------------------------------ */


/* -------------------------------------------------------------------- */


/* .form-container {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 700px;
  max-width: 80%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999; Place the form above other components 
} */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    /* flex container
  its children becomes the flex items */
    align-items: center;
    justify-content: center;
}

.modal {
    background: white;
    padding: 20px;
    width: 1000px;
    max-height: 80vh;
    /* viewport height */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* position: relative; */
    overflow: auto;
    /* Add both horizontal and vertical scrollbars when content exceeds the height or width */
    /* scrollbar-width: thin; */
    /* For Firefox */
    /* scrollbar-color: transparent transparent; */
    /* For Firefox */
    /* -ms-overflow-style: none; */
    /* For IE and Edge */
}

.modal::-webkit-scrollbar {
    width: 5px;
    /* Width of the scrollbar */
}

.modal::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Color of the thumb */
}

.form-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.form-header span {
    cursor: pointer;
    color: #3a3aeb;
}

.form-row {
    margin-bottom: 15px;
    font-weight: 500;
}

label {
    display: block;
    margin-bottom: 5px;
}

.in-txtarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.add-form-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: block;
    margin: auto;
}


/* -------------------------------------------CSS for client search--------------------------------------------- */

.client-search-row input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.client-search-row input[type="text"]:focus+.client-search-results,
.client-search-row input[type="text"]:active+.client-search-results {
    display: block;
    /* Show when input is focused */
}

.client-result {
    padding: 2px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-result:hover {
    background-color: #c4c2c2;
}

.selected-client {
    margin-top: 3px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 2px solid #686666;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* -------------------------------PROGRESS BAR CSS-------------------------------- */

.progress-container {
    position: relative;
    height: 17px;
    width: 300px;
    background-color: #e0e0de;
    border-radius: 50px;
    margin: 1px 35px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

.progress-filler {
    height: 100%;
    background-color: #4caf50;
    border-radius: inherit;
    transition: width 1s ease-in-out;
    display: flex;
    align-items: center;
    min-width: 30px;
    /* 0% - visible */
}

.progress-label {
    margin-left: auto;
    color: white;
    font-weight: bold;
    padding-right: 5px;
}

.progress-filler.low {
    background-color: #ff4b4b;
}

.progress-filler.medium {
    background-color: #ff9636;
}

.progress-filler.high {
    background-color: #f9d71c;
}

.progress-filler.very-high {
    background-color: #4caf50;
}