/* Payment.css */

.payment-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 11px;
    margin-bottom: 0px; /* Updated to match Accordion styles */
    border-bottom: 3px solid #ccc;
  }
  
  .payment-header-item {
    flex: 1;
    text-align: center;
  }
  
  .payment-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .payment-card:hover {
    background-color: #f9f9f9;
  }
  
  .payment-details {
    display: flex;
    flex-direction: row;
  }
  
  .payment-detail-item {
    flex: 1;
    text-align: center;
  }
  
  .project-progress-container {
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px; /* Added for spacing similar to Accordion styles */
  }
  
  .payment-progress-filler {
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .payment-progress-label {
    margin-right: 5px;
    color: #fff;
  }
  
  /* Customize the progress color based on completion percentage */
  .payment-progress-filler.low {
    background-color: #f44336;
  }
  
  .payment-progress-filler.medium {
    background-color: #ffc107;
  }
  
  .payment-progress-filler.high {
    background-color: #4caf50;
  }
  