/* MyCalendar.css */
.Cal-con {
  background-color: #f5f5f5;
  overflow: hidden;
  max-height: 84vh;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

/* React Big Calendar Styles */
.react-big-calendar {
  border: 1px solid #e0e0e0;
  font-family: 'Arial', sans-serif;
}

/* Header containing date navigation */
.rbc-header {
  background-color: #3498db;
  color: #fff;
  padding: 12px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

/* Month and year display */
.rbc-toolbar-label {
  font-size: 20px;
  font-weight: bold;
}

/* Calendar table */
.rbc-month-row,
.rbc-time-view {
  border-collapse: collapse;
  width: 100%;
}

/* Table header cells (days of the week) */
.rbc-header th {
  background-color: #f0f0f0;
  color: #333;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border: 1px solid #e0e0e0;
}

/* Table body cells (individual days) */
.rbc-date-cell {
  border: 1px solid #e0e0e0;
  height: 60px;
  vertical-align: top; /* Adjust the height as needed */
}

/* Events */
.rbc-event {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #0056b3;
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 5px;
}

/* Buttons in the header */
.rbc-btn-group button {
  background-color: #3498db;
  color: #fff;
  border: 1px solid #3498db;
  padding: 4px 16px; /* Corrected padding value */
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

/* Hover effect for buttons */
.rbc-btn-group button:hover {
  background-color: #007bff;
}

/* Today button */
.rbc-today {
  color: #fff;
}

/* Highlight current date */
.rbc-now {
  background-color: powderblue;
}

/* Previous and Next arrows */
.rbc-prev,
.rbc-next {
  color: #fff;
  background-color: #3498db;
  border: 1px solid #3498db;
  padding: 8px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

/* Hover effect for arrows */
.rbc-prev:hover,
.rbc-next:hover {
  background-color: #007bff;
}
