.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* background-color:  #07056b; */
  color: #000000;
  position: sticky;
  top: 0;
  /* z-index: 999;  */
  max-height: 40px;


  background-color: #ffffff;
  
   /* background-color: #f0f0f0; */
  color: #000000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

margin-left:260px;
margin-top: 20px;
margin-right: 20px;
border-radius: 8px;
}



.navbar-profile {
  display: flex;
  align-items: center;
}

.profile-photo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  font-family: inherit;
}

.profile-name {
  font-size: 16px;
  /* font-weight: 600; */
  color: #000000;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Segoe UI","Segoe UI Web (West European)","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.profile-email {
  font-size: 14px;
  color: #000000;
  text-decoration: none;

}



/* #logoutbutton {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-self: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-width: 6vw;
  /* border: 1px solid #000; */
  /* justify-content: space-evenly;
  max-height: 35px;
  transition-duration: 10s; */
  /* border: 1px solid #000; */
  /* background-color:#0065fcff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

/* #logoutbutton img {
  width: 13px;
  height: 13px;
  object-fit: cover;
  align-items: center;

}

#logoutbutton:hover {
  background-color:#f0f0f0ff ;
  color: #ffffff;

} */ 





#logoutbutton {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Add smooth transition */
}

#logoutbutton:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

.logout-name {
  margin-right: 10px;
}

.logouticon {
  color: white;
  font-size: 20px;
  margin-right: 5px;
}

