.main-dashboard-container {
  position: relative;
  /* background-color: #ffffff; */
  max-width: auto;
  margin-top: auto auto;
  padding: 5px 25px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  border-radius: 8px;
  min-height: 79vh; 
  /* max-height: 83vh; */
  /* overflow: auto; */
  flex-direction: column;
}

