.modal-button{
    margin-left: 50px;
}

  .teammember-modal {
    background: white;
    padding: 10px 20px;
    min-height: 79vh;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
  }

  .modal-content {
    text-align: center;
  }


.person-item {
  max-height: 40px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #000000;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top:15px;
  }
  
  .person-image {
    max-width: 40px; 
    margin-right: 10px; 
  }
  
  .person-details {
    text-align: left;
    flex-grow: 1; 
  }
  

  .person-name{
    margin:0px;
    margin-left: 20px;
  }
  .person-email{
    margin:0px;
    margin-left: 20px;
  }
 

  .addteammemberbutton{
    padding: 10px 20px;
    border:1px solid black;
    text-align: center;
  }