.side-navbar {
    border-radius: 8px;
    background-color: #ffffff;
    padding: 10px;
    margin: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 93vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;

  }
  .sidenavitem:hover{
    background-color: #f0f0f0ff;
  }
  .sidenavitem.active {
    background-color:     #f0f0f0ff;  /* Replace with your desired color */
    color: black;
    font-weight: 580;
  }
  
  .sidenavitem{
    padding: 6px 15px;
    border-radius: 4px;
    margin-top: 5px;
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  .side-navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .side-navbar li {
    margin-bottom: 10px;
  }
  
  .side-navbar a {
    text-decoration: none;
    color: #333;
  }
  
 


  .sidenavlist{
    display: flex;
    flex-direction: column;
    margin-top:20%;
  }


  .navbar-logo{
    min-width: 80%;
    margin:12px;
  }
  .navbar-logo img {
    height: 30px;
    width: auto;
  }

  .dropdown{
    padding-left: 25px;
    font-size:medium;
  margin-left: 25px;

  }


  .task-dropdown-toggle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
    align-items: center;
  }

  .arrow-icon{
    font-size: medium;
  }
