/* Style for the message container */
.allmessage {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  padding: 10px;
  /* margin-bottom: 10px; */


  /* background-color: #9ed68d; */
  height: 75vh;

  Overflow: auto;
  Overflow-x: hidden;
  Overflow-y: auto;

}
.userprofileimage{
  height:50px ;
  margin-right:10px;
  border-radius: 50%;
}
.allmessage::-webkit-scrollbar {
  width: 5px;
  /* Width of the scrollbar */
}

.allmessage::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Color of the thumb */
}

/* Style for received messages */


/* Style for sent messages */


/* Style for the message sender area */
.messagesender {
  /* border: 1px solid #ccc; */
  padding: 10px;
  height: 5vh;
  display: flex;
  flex-wrap: nowrap;
}



.disscussionbox {
  background-color: gray;
  display: flex;
  overflow: hidden;
  min-height: 80vh;


  border-radius: 10px;
  /* Adjust the value to control the roundness of the corners */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  /* Customize the box shadow as per your preference */
  /* padding: 20px; */
  /* Adjust the padding according to your content */
  /* margin: 20px; */
  /* position: fixed; */
  /* top: 0; */
  /* right: 0; */
  height: 85vh;
  /* Use 100% viewport height */


  max-width: max-content;
  background-color: #f0f0f0;
  /* z-index: 400; */
  /* Ensure the side navbar appears above the content */
  /* margin-top: 80px; */



}

.writingandviewingarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  border-left: 1px solid black;
  min-width: 60vw;

}

.sendernamedisplay {
  display: flex;
  width: 20vw;
  /* background-color: #ccc; */
  margin-right: 10px;
  display: flex;
  flex-direction: column;

  border-right: 1px solid black;
  background-color: white;
  background-color: white;
  background-color: white;
}

.textboxtoinput {
  width: 70vw;
}

.chatword {
  padding-left: 1vw;
}

.senderbox {

  Overflow: auto;
  Overflow-x: hidden;
  Overflow-y: auto;
}



.activereciveruser {
  min-height: 8vh;
  display: flex;
  flex-direction: row;
}