/* .footer {
    Footer styling
    width: 100%;
    background-color: #100f0f;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0%;
    z-index: 400;
  }
.footer-content {
    Style for the content inside the footer
    color: #555;
    font-size: 14px;
  } */
  


.footer {
    /* Footer styling */
    width: 100%;
    background-color: #100f0f;
    padding: 20px;
    text-align: center;
    /* position: fixed; Use fixed position to make it sticky at the bottom */
    /* bottom: 0; */
}

.footer-content {
    /* Style for the content inside the footer */
    color: #555;
    font-size: 14px;
    margin: 0 auto; /* Center the content horizontally */
    max-width: 1200px; /* Set a maximum width for the content, adjust as needed */
}
