/* ForgotPassword.module.css */

.forgotPasswordContainer_aBcD {
    position: relative;
    width: 400px;
    max-width: 400px;
    margin: 70px auto;
    background: lightblue;
    border-radius: 50px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 30px 10px;
}

.forgotPasswordForm_aBcD {
    margin-top: 50px;
    text-align: center;
}

.forgotPasswordForm_aBcD h2 {
    color: black;
    /* Changed h2 color to white */
}

.forgotPasswordForm_aBcD label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: blue;
    /* Changed label color to blue */
}

.forgotPasswordForm_aBcD input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid blue;
    /* Changed border color to blue */
    background: transparent;
    color: black;
    outline: none;
}